<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <script type="text/javascript" asp-src-include="js/site.js"></script>
    <style>
        #mainDiv {
            padding: 30px;
            font-size: 20pt;
        }
    </style>
</head>
<body>
    <div id="mainDiv" class="text-center">
        @RenderBody()
    </div>
</body>
</html>
