<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <style>
        body
        {
            background-color: darksalmon;
        }
        #mainDiv
        {
            padding-top: 30px;
            padding-left: 50px;
        }
    </style>
</head>
<body>
    <div class="container" id="mainDiv">
        @RenderBody()
    </div>
</body>
</html>
