<a href="/Test/PageOne" class="btn btn-primary">Page One</a>
<a href="/Test/PageTwo" class="btn btn-primary">Page Two</a>
<a href="/Test/PageThree" class="btn btn-primary">Page Three</a>
<a href="/Test/PageFour" class="btn btn-primary">Page Four</a>

