@model String
@{
    Layout = "_FormLayout";
    ViewBag.Title = "Reply";
}

<!DOCTYPE html>


    <h1>Reply to <em>@Model</em>'s message: </h1>

    <form method="post">
        <div class="form-group">
            <label for="replyText">Your reply</label><br />
            <textarea type="text" name="replyText"></textarea><br />
        </div>
        <div class="form-group">
            <label for="replySender">Your name</label><br />
            <input name="replySender" /><br />
        </div>
            <input type="submit" class="btn btn-dark" value="Enter" />
    </form>

