@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>History Page</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">
        <h1>History of Brookings</h1>
        <p>
            Brookings is a city in Curry County, Oregon, United States.
            It was named after John E. Brookings, president of the Brookings
            Lumber and Box Company, which founded the city in 1908. As of the 2010
            census the population was 6,336.
        </p>
    </div>
</body>
</html>