@{
    ViewData["Title"] = "Home";
}

        <h1>City of Brookings Community</h1>
        <p>
            Welcome! 
        </p>
        <nav>
            <a href="/Home/HistoryPage" class="btn btn-primary" >History</a>
            <a href="/Home/ContactPage" class="btn btn-primary">Contact</a>
            <a href="/Home/InfoPage" class="btn btn-primary">Info</a>
        </nav>
