@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Info Page</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">
        <h1>City of Brookings Information</h1>
        <p>

        </p>
        <nav>
            <a class="btn btn-primary" asp-action="LocationsPage">Important Locations</a>
            <a class="btn btn-primary" asp-action="PeoplePage">Important People</a>
        </nav>
    </div>
</body>
</html>