@model List<ImportantLocation>
@{
    ViewData["Title"] = "Locations Page";
}

      <h1>Important Brookings Locations</h1>
        @foreach (ImportantLocation location in Model)
        {
            <span>Name: </span>@location.Name<br />
            <span>Significance: </span>@location.Significance<br />
            <a href="@location.LinkToInfo">More Information</a>
        }