@model List<ImportantPerson>
@{
    ViewData["Title"] = "People Page";
}

        <h1>Important Brookings People</h1>
        @foreach (ImportantPerson person in Model)
        {
            <span>Name: </span>@person.Name<br />
            <span>Achievements: </span>@person.Achievements<br />
            <a href="@person.LinkToInfo">More Information</a>
        }
